GODADDY_ENV=CHANGE_ME # production or ote

# GoDaddy API — Account 1, etc
GODADDY_API_KEY_1=CHANGE_ME
GODADDY_API_SECRET_1=CHANGE_ME
GODADDY_API_LABEL_1=CHANGE_ME
REGISTRANT_FIRST_NAME_1=CHANGE_ME
REGISTRANT_LAST_NAME_1=CHANGE_ME
REGISTRANT_EMAIL_1=CHANGE_ME
REGISTRANT_PHONE_1=CHANGE_ME
REGISTRANT_ADDRESS_1=CHANGE_ME
REGISTRANT_CITY_1=CHANGE_ME
REGISTRANT_STATE_1=CHANGE_ME
REGISTRANT_POSTAL_CODE_1=CHANGE_ME
REGISTRANT_COUNTRY_1=CHANGE_ME

# cPanel — Account 1, etc
CPANEL_URL_1=CHANGE_ME
CPANEL_USERNAME_1=CHANGE_ME
CPANEL_PASSWORD_1=CHANGE_ME
CPANEL_LABEL_1=CHANGE_ME

# GoDaddy Login — Account 1, etc (for browser automation)
GODADDY_EMAIL_1=CHANGE_ME
GODADDY_PASSWORD_1=CHANGE_ME

ALERT_METHOD=CHANGE_ME

TELEGRAM_BOT_TOKEN=CHANGE_ME
TELEGRAM_CHAT_ID=CHANGE_ME

EMAIL_HEADLESS=false
INDEED_HEADLESS=false